* {
  font-family: "Open Sans", sans-serif;
}

/* src/public/sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle, .square, .triangle {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.circle {
  border-radius: 50%;
  animation: floatCircle 25s infinite ease-in-out, moveCircle 30s infinite ease-in-out;
}

.square {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 40%;
  transform: rotate(45deg);
  animation: floatSquare 35s infinite ease-in-out, moveSquare 40s infinite ease-in-out;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: floatTriangle 45s infinite ease-in-out, moveTriangle 50s infinite ease-in-out;
}

.circle:nth-child(1) {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 15%;
}

.circle:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 60%;
  left: 70%;
}

.circle:nth-child(3) {
  width: 200px;
  height: 200px;
  top: 80%;
  left: 30%;
}

@keyframes floatCircle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 30px);
  }
  50% {
    transform: translate(0, 50px);
  }
  75% {
    transform: translate(-20px, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatSquare {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
@keyframes moveSquare {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 20px);
  }
  50% {
    transform: translate(0, -50px);
  }
  75% {
    transform: translate(30px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatTriangle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
@keyframes moveTriangle {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(40px, -20px);
  }
  50% {
    transform: translate(0, 50px);
  }
  75% {
    transform: translate(-40px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.header-top {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-top h1 {
  margin-bottom: 0px;
  text-shadow: 5px 5px black;
}
.header-top p {
  background-color: gray;
  padding: 2px;
  margin: 10px auto;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: up-and-down 2s infinite;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.contenedor {
  width: 350px;
  margin: 50px auto;
  background-color: #F7F8F9;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px gray;
  padding: 8px;
  background: #1C1C1E;
  justify-content: center;
  color: white;
}
.header button {
  margin: 0px 6px 0px 7px;
}
.header span {
  font-size: 13px;
}
.header button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.header article img {
  width: 55px;
}

#messagesLog {
  animation: messageAnimation 0.5s ease-in-out;
}

@keyframes messageAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.contenedor-imagen {
  margin-left: auto;
}
.contenedor-imagen i {
  font-size: 30px;
}

.contenedor-info-header {
  margin: 0px 5pc;
}
.contenedor-info-header h3 {
  margin: 0px;
}

.contenedor-chat {
  background-size: cover;
  background-color: #0f2027;
  width: auto;
  height: 500px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}
.contenedor-chat::-webkit-scrollbar {
  width: 0px;
}
.contenedor-chat::-webkit-scrollbar-track {
  background-color: rgb(202, 202, 202);
}
.contenedor-chat::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}
.contenedor-chat::-webkit-scrollbar {
  border-radius: 30px;
}

.contenedor-input {
  padding: 14px;
  display: flex;
  justify-content: space-around;
  background: #2B2B2D;
  color: white;
}
.contenedor-input input {
  border-radius: 25px;
  width: 14pc;
  padding: 0px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #19191a;
  border: none;
  caret-color: #2746D5;
  color: white;
}
.contenedor-input input[data-title] {
  background-color: #2746D5;
  color: black;
}
.contenedor-input input::placeholder {
  color: white;
}
.contenedor-input input:focus {
  outline: none;
}
.contenedor-input input:active {
  outline: none;
}
.contenedor-input button {
  font-size: 20px;
}

#button-emoji {
  border: none;
  background: none;
  cursor: pointer;
}
#button-emoji i {
  transition: 0.5s all;
  color: gray;
}
#button-emoji i:hover {
  color: white;
}

#send-button {
  border-radius: 100%;
  border: none;
  background-color: rgb(35, 92, 167);
  color: white;
  transition: 0.5s all;
  font-size: x-large;
  font-size: large;
  cursor: pointer;
}

.container-username {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16%;
  color: white;
}

#username {
  margin: 10px;
}

.contenedor-usuario_mensajes {
  display: flex;
  align-items: center;
  margin: 0px 24px;
}
.contenedor-usuario_mensajes .contenedor-img_user {
  padding: 9px;
  background: rgb(182, 182, 182);
  border-radius: 100%;
  margin-top: auto;
  color: rgb(77, 77, 77);
}

.contenedor-mensajes {
  background-color: #292929;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.479) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 19px 19px 23px 0px;
  width: 12pc;
  padding: 10px;
  margin: 25px 10px;
}
.contenedor-mensajes .user_message_name {
  font-size: 14px;
  font-weight: bold;
}
.contenedor-mensajes p {
  margin: 0px;
}
.contenedor-mensajes span {
  margin: 0px;
}

.container-emojis {
  width: auto;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  background: #2B2B2D;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  border-radius: 10px;
  top: 61%;
  gap: 13px;
  left: 10px;
  font-size: 21px;
  position: absolute;
}
.container-emojis.open-emojis {
  display: grid;
}
.container-emojis #emoji {
  cursor: pointer;
  transition: 0.5s all;
  border-radius: 20px;
}
.container-emojis #emoji:hover {
  text-shadow: 3px 3px gray;
}

.contenedor_detalle_mensajes {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contenedor_detalle_mensajes span {
  font-size: 11px;
}

/*# sourceMappingURL=styles.css.map */
